body {
    font-family: Arial, sans-serif; 
    color: white;
    background-color: black;
  }
  
  .container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    
  }
  
  h1 {
    text-align: center; 
  }
  
  .vision {
    background-color: #28181f;
    color: white;
    padding: 20px; 
    margin-bottom: 150px; 
    border-radius: 0 20px 20px 0;
    border-right: 10px #d59dcc;
    box-shadow: 30px 0 0 0 #d59dcc;
    margin-right: 100px;
   }

   
  
   
  
  .why-us {
    background-color: #28181f;
    color: white;
    padding: 20px; 
    margin-bottom: 150px; 
    border-radius: 20px 0 0 20px ;
    margin-left: 100px; 
    border-left: 10px  #d59dcc;
    box-shadow: -30px 0 0 0 #d59dcc;
   }
  
  

  .vision h2,  .why-us h2 {
    color: #d59dcc; 
  }
  