body {
    font-family: Arial, sans-serif; 
    color: white;
    background-color: black;
  }
  
  .container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    
  }
  
  h1 {
    text-align: center; 
  }
  
  .vision {
    background-color: #28181f;
    color: white;
    padding: 20px; 
    margin-bottom: 100px; 
    border-radius: 0 20px 20px 0;
    margin-right: 20px; }
  
  .why-us {
    background-color: #28181f;
    color: white;
    padding: 20px; 
    margin-bottom: 100px; 
    border-radius:0 20px 20px 0;
    margin-right: 20px;  }
  
  

  .vision h2,  .why-us h2 {
    color: #d59dcc; 
  }
  